In [1]:
import pandas as pd

In [3]:
import sys
sys.path.append('..')

DATA_PATH = r'../data/'
RAW_DATA_PATH = DATA_PATH + r'raw/'

In [7]:
raw_data_values = pd.read_csv(RAW_DATA_PATH + r'/Richters_Predictor_Modeling_Earthquake_Damage_-_Train_Values.csv')
print(raw_data_values.shape)
raw_data_values.head()

(260601, 39)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [6]:
raw_data_values.describe()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
count,2.606010e+05,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,...,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000
mean,5.256755e+05,13.900353,701.074685,6257.876148,2.129723,26.535029,8.018051,5.434365,0.088645,0.761935,...,0.064378,0.033626,0.008101,0.000940,0.000361,0.001071,0.000188,0.000146,0.000088,0.005119
std,3.045450e+05,8.033617,412.710734,3646.369645,0.727665,73.565937,4.392231,1.918418,0.284231,0.425900,...,0.245426,0.180265,0.089638,0.030647,0.018989,0.032703,0.013711,0.012075,0.009394,0.071364
min,4.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.611900e+05,7.000000,350.000000,3073.000000,2.000000,10.000000,5.000000,4.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.257570e+05,12.000000,702.000000,6270.000000,2.000000,15.000000,7.000000,5.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.897620e+05,21.000000,1050.000000,9412.000000,2.000000,30.000000,9.000000,6.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.052934e+06,30.000000,1427.000000,12567.000000,9.000000,995.000000,100.000000,32.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
raw_data_labels = pd.read_csv(RAW_DATA_PATH + r'/Richters_Predictor_Modeling_Earthquake_Damage_-_Train_Labels.csv')
print(raw_data_labels.shape)

(260601, 2)

In [9]:
raw_data_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [12]:
for column in raw_data_values.columns[1:]:
    print(raw_data_values[column].value_counts())

geo_level_1_id
6     24381
26    22615
10    22079
17    21813
8     19080
7     18994
20    17216
21    14889
4     14568
27    12532
13     9608
11     8220
3      7540
22     6252
25     5624
16     4332
0      4011
9      3958
12     3194
18     3189
1      2701
5      2690
30     2686
15     2320
14     1714
24     1310
23     1121
2       931
29      396
19      372
28      265
Name: count, dtype: int64
geo_level_2_id
39      4038
158     2520
181     2080
1387    2040
157     1897
        ...
1330       1
1043       1
637        1
989        1
627        1
Name: count, Length: 1414, dtype: int64
geo_level_3_id
633      651
9133     647
621      530
11246    470
2005     466
        ...
2366       1
7155       1
10733      1
97         1
3085       1
Name: count, Length: 11595, dtype: int64
count_floors_pre_eq
2    156623
3     55617
1     40441
4      5424
5      2246
6       209
7        39
8         1
9         1
Name: count, dtype: int64
age
10     38896
15     36010
5      33697
20     32182
0      26041
25     24366
30     18028
35     10710
40     10559
50      7257
45      4711
60      3612
80      3055
55      2033
70      1975
995     1390
100     1364
65      1123
90      1085
85       847
75       512
95       414
120      180
150      142
200      106
110      100
105       89
125       37
115       21
130        9
140        9
180        7
160        6
170        6
175        5
135        5
190        3
145        3
195        2
165        2
155        1
185        1
Name: count, dtype: int64
area_percentage
6      42013
7      36752
5      32724
8      28445
9      22199
       ...
55         1
80         1
90         1
82         1
100        1
Name: count, Length: 84, dtype: int64
height_percentage
5     78513
6     46477
4     37763
7     35465
3     25957
8     13902
2      9305
9      5376
10     4492
11      917
12      907
13      759
15      292
16      179
32       75
18       71
14       66
20       33
21       13
23       11
17        9
19        7
24        4
25        3
26        2
28        2
31        1
Name: count, dtype: int64
land_surface_condition
t    216757
n     35528
o      8316
Name: count, dtype: int64
foundation_type
r    219196
w     15118
u     14260
i     10579
h      1448
Name: count, dtype: int64
roof_type
n    182842
q     61576
x     16183
Name: count, dtype: int64
ground_floor_type
f    209619
x     24877
v     24593
z      1004
m       508
Name: count, dtype: int64
other_floor_type
q    165282
x     43448
j     39843
s     12028
Name: count, dtype: int64
position
s    202090
t     42896
j     13282
o      2333
Name: count, dtype: int64
plan_configuration
d    250072
q      5692
u      3649
s       346
c       325
a       252
o       159
m        46
n        38
f        22
Name: count, dtype: int64
has_superstructure_adobe_mud
0    237500
1     23101
Name: count, dtype: int64
has_superstructure_mud_mortar_stone
1    198561
0     62040
Name: count, dtype: int64
has_superstructure_stone_flag
0    251654
1      8947
Name: count, dtype: int64
has_superstructure_cement_mortar_stone
0    255849
1      4752
Name: count, dtype: int64
has_superstructure_mud_mortar_brick
0    242840
1     17761
Name: count, dtype: int64
has_superstructure_cement_mortar_brick
0    240986
1     19615
Name: count, dtype: int64
has_superstructure_timber
0    194151
1     66450
Name: count, dtype: int64
has_superstructure_bamboo
0    238447
1     22154
Name: count, dtype: int64
has_superstructure_rc_non_engineered
0    249502
1     11099
Name: count, dtype: int64
has_superstructure_rc_engineered
0    256468
1      4133
Name: count, dtype: int64
has_superstructure_other
0    256696
1      3905
Name: count, dtype: int64
legal_ownership_status
v    250939
a      5512
w      2677
r      1473
Name: count, dtype: int64
count_families
1    226115
0     20862
2     11294
3      1802
4       389
5       104
6        22
7         7
9         4
8         2
Name: count, dtype: int64
has_secondary_use
0    231445
1     29156
Name: count, dtype: int64
has_secondary_use_agriculture
0    243824
1     16777
Name: count, dtype: int64
has_secondary_use_hotel
0    251838
1      8763
Name: count, dtype: int64
has_secondary_use_rental
0    258490
1      2111
Name: count, dtype: int64
has_secondary_use_institution
0    260356
1       245
Name: count, dtype: int64
has_secondary_use_school
0    260507
1        94
Name: count, dtype: int64
has_secondary_use_industry
0    260322
1       279
Name: count, dtype: int64
has_secondary_use_health_post
0    260552
1        49
Name: count, dtype: int64
has_secondary_use_gov_office
0    260563
1        38
Name: count, dtype: int64
has_secondary_use_use_police
0    260578
1        23
Name: count, dtype: int64
has_secondary_use_other
0    259267
1      1334
Name: count, dtype: int64